name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout backend code
        uses: actions/checkout@v4
        with:
          path: backend

      - name: Sync backend folder to app path
        run: |
          rm -rf "/home/appttraining 2/backend"
          mv backend "/home/appttraining 2/backend"

      - name: Build & restart backend service
        run: |
          docker compose -f "/home/appttraining 2/docker-compose.yaml" up -d --build backend
